<div class = "<%= location %>">
      <div><%= link_to "HOME" , root_path %></div>
      <div><%= link_to "ABOUT ME" , itsme_rohan_path %></div>
      <div><%= link_to "CONTACT ME" , contact_path %></div>
      <div><%= link_to "SEE MY BLOG" , blogs_path %></div>
      <div><%= link_to "MY PORTFOLIO" , portfolios_path %></div>
    </div>