<!DOCTYPE html>
<html>
  <head>
    <title> <%= @page_title %> </title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= favicon_link_tag 'images.png' %>
  </head>

  <body>
  
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">

          <%= render 'shared/application_nav' %>

         
         <%= yield %> 

          <footer class="mastfoot">
            <div class="inner">
              <p> <%= copyright_generator %></p>
            </div>
          </footer>
        

      	<%= source_helper("application") %>
      </div>
    </div>
  </div>

  </body>

 

</html>
