<!DOCTYPE html>
<html>
  <head>
    <title> <%= @page_title %> </title>
    <%= csrf_meta_tags %>   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <!-- start of nav -->
      <%= render 'shared/blog_nav'%>
    <!-- end of nav -->

    <!-- start of blog head -->
      <%= render 'shared/blog_header'%>
    <!-- end of blog head -->

    <!-- start of container and row -->

    <main role="main" class="container">
      <div class="row">
        <%= yield %>

        <!-- start of sidebar -->
          <%= render 'shared/blog_aside' %>
        <!-- end of sidebar -->


        <!-- start of footer -->       
          <%= render 'shared/blog_footer' %>
        <!--  end of footer -->


        <%= source_helper("blog") %>
    </div>
  </main>
  <!-- end of container and row -->
  </body>
</html>
