<!DOCTYPE html>
<html>
  <head>
    <title> <%= @page_title %> </title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  

  <!-- start of navigation -->
    <%= render 'shared/portfolio_nav' %>
  <!-- end of navigation -->

  

  <!-- start of main content -->
   
          <%= yield %>

  <!-- end of main content -->

  <!-- start of footer -->
     <%= render 'shared/portfolio_footer' %>
  <!-- end of footer -->

   <!--  <%= render 'shared/nav'  , location: 'bottom'%>
    <%= login_helper %> -->

	
<%= source_helper("portfolios") %>
  </body>
</html>
